---
import { info } from "../../data/info";
import GitHub from "../icons/GitHub.astro";
import Instagram from "@components/icons/Instagram.astro";
import Linkedin from "@components/icons/Linkedin.astro";
---

<section class="flex flex-col lg:pt-10 pb-14">
    <div class="grid grid-cols-2">
        <div class="flex justify-center ">
            <img
                class="size-80 rounded-3xl border-t-2 border-orangedev shadow-2xl"
                src="yop1.png"
                alt="Yop riderdev"
            />
        </div>
        <div class="mr-8">
            <p
                class="text-bluedev dark:text-whitedev font-semibold text-5xl mt-12 mb-8"
            >
                ¡Hey👋! Soy <label class="text-orangedev">{info.name}</label>
            </p>
            <h1
                class="dark:text-gray-300 text-slate-600 text-lg font-medium my-2"
            >
                {info.description}.
            </h1>
            <p class="dark:text-gray-300 text-slate-600 text-lg font-medium">
                {info.about}
            </p>
            <div class="flex gap-x-5 mt-4">
                <a
                    href={info.socialMedia.github}
                    class="p-2 border-2 rounded-xl text-gray-600 border-gray-400 dark:text-gray-200 dark:border-whitedev hover:text-orangedev hover:border-orangedev dark:hover:text-orangedev dark:hover:border-orangedev ease-in duration-200"
                    target="_blank"
                >
                    <GitHub />
                </a>
                <a
                    href={info.socialMedia.linkedin}
                    class="p-2 border-2 rounded-xl text-gray-600 border-gray-400 dark:text-gray-200 dark:border-whitedev hover:text-orangedev hover:border-orangedev dark:hover:text-orangedev dark:hover:border-orangedev ease-in duration-200"
                    target="_blank"
                    ><Linkedin />
                </a>
                <a
                    href={info.socialMedia.instagram}
                    class="p-2 border-2 rounded-xl text-gray-600 border-gray-400 dark:text-gray-200 dark:border-whitedev hover:text-orangedev hover:border-orangedev dark:hover:text-orangedev dark:hover:border-orangedev ease-in duration-200"
                    target="_blank"
                    ><Instagram />
                </a>
            </div>
        </div>
    </div>

</section>
